
 .AttrBtns{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
}
.active{
  background-color: black;
  color: white;
}
.AttrBtnText{

display: flex;
align-items: center;
justify-content: center;
border: Solid 1px #1D1F22;
// copied
width: 63px;
height: 45px;

}
.AttrBtnColor{
  display: flex;
  align-items: center;
  justify-content: center;
  // copied
  width: 32px;
  height: 32px;
  }
