.AttributeContainer{
  .active{
    
    background-color: black;
    color: white;
  }
}
 .AttrBtns{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.AttrBtnText{
display: flex;
align-items: center;
justify-content: center;
border: Solid 1px #1D1F22;
// copied
width: 63px;
height: 45px;

}
.AttrBtnColor{
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  // copied
  width: 32px;
  height: 32px;
  div{
    height: 90%;
    width:90%;
  }
  }
.AttrBtnColor.active{
  border: solid 1px green;
  background-color: white;
}