.ProductCard{
  a{
text-decoration: none;
color:black
  }
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    height: 444px;
    width: 386px;
    margin-top: 4vh;
    margin-bottom: 4vw;
  .stockOverlay{
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.504);
    display: flex;
    z-index: 2;

  }
  .Image{
    width: 100%;
    height: 330px;
    display: flex;
    div{
      position: absolute;
    }
    justify-content: center;
    align-items: center;
  }
  .desc{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img{
      transform: translate(0%,-50%);
    }
  }
 
    
    .Title{height: 10%}
    .Price{height: 10%}
    
  }