.QuantityButtons{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
  
  
    div{
      border: 1px solid #1D1F22;
      width: 100%;
      text-align: center;
    }
    p{
  
    }
  }
  