.QuantityButtons{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #1D1F22;
      // width: 100%;
      text-align: center;
      // copied
      width: 45px;
      height: 45px;
    }
  }
  