@import './vars';
.Cart{
    z-index: 1000;
    padding-left: 3%;
    padding-right: 5%;
    .Switch{
      div{
        background: #1D1F22;
        color:white;
        border-radius: 50%;
        text-align: center;
        transform: translate(50%,10%);
      }
      img{
        height: 35%;
        transform: translate(0%,-25%);
      }
   
    }
    .col1{
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
    }
    .AttBtnText{
      height: 48px;
      width: 48px;
    }
    .AttrBtns{
      justify-content: flex-start;
    }
    .AttributeButtonColor{
      height: 40px;
      width: 40px;
    }
    .CartProduct{
      height: 288px;
    }
    .col3{
      width: 230px;
    }
  } 
  .image{

    width: 100%;
    height: 100%;
  }

  .CartOrder{
    width: 25vw;
    .BtnOrder{
      width: 100%;
      height: 100%;
    }
  }
  .CartOrderDetails{
    display: flex;
    font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  
    div:first-of-type {
      width: 40%;
    }
   div:nth-last-of-type(1){
    font-weight: 700;
   }
  }
  .ButtonOrder{
    display: flex;
    background: $green;
    justify-content: center;
    align-items: center;
    height: 43px;
    color: white;
    font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  }

  