.CurrencySwitcher{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    .Switch{
      display: flex;
      margin-right: 20px;
      z-index: 30;
      div{
        
        align-self: center;
      }
      div:nth-of-type(2){
        transform:rotate(90deg) matrix(1, 0, 0, 2, 2, -2);
        font-size: 50%;
        // background-color: greenyellow;
      }
      
    }

  }
  .CurrencyList{
    position: absolute;
    
    div{
      width: 110%;
      background-color: white;
      padding-left: 25%;
    }
    div:hover{
      background-color: #EEEEEE
    }
  }